@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
}
html {
  @apply h-full w-full;
}
:root {
  --color-primary-light-cyan: hsl(193, 38%, 86%);
  --color-primary-neon-green: hsl(150, 100%, 66%);
  --color-primary-neon-green-hover: hsl(151, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}
body {
  @apply relative h-full w-full bg-[color:var(--dark-blue)] text-[color:var(--color-primary-light-cyan)];
}
#root {
  @apply flex justify-center items-center h-full;
}
main {
  @apply h-full flex flex-col justify-center items-center;
}
main .advice-box {
  @apply relative bg-[color:var(--dark-grayish-blue)] flex flex-col justify-center items-center text-center gap-4 w-[30rem] mb-12 p-4 rounded-[0.8rem];
}
main .advice-box .advice-number-box p {
  @apply text-xl font-extrabold uppercase tracking-[3.50px] text-[color:var(--color-primary-neon-green)];
}
main .advice-box .content-advice p {
  @apply text-[1.6rem] font-extrabold;
}
main .advice-box .author-advice p {
  @apply italic text-[1.15rem] font-semibold;
}
main .advice-box .icon-advice {
  @apply mb-12;
}
main .advice-box .next-advice-btn {
  @apply absolute bg-[color:var(--color-primary-neon-green)] w-16 h-16 -translate-x-2/4 -translate-y-2/4 flex justify-center items-center cursor-pointer transition-all duration-[0.3s] ease-[ease-in-out] rounded-[50%] left-2/4 top-full hover:shadow-[0_0_10px_rgba(83,255,171,0.6),0_0_20px_rgba(83,255,171,0.8)] hover:bg-[color:var(--color-primary-neon-green-hover)];
}
main .advice-box .next-advice-btn svg {
  @apply bg-[color:var(--color-primary-neon-green)];
}
@media screen and (max-width: 550px) {
  main {
    @apply p-4;
  }
  main .advice-box {
    @apply w-full px-2 py-4;
  }
}
