@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
}
html {
  @apply h-full w-full;
}

:root {
  --color-primary-light-cyan: hsl(193, 38%, 86%);
  --color-primary-neon-green: hsl(150, 100%, 66%);
  --color-primary-neon-green-hover: hsl(151, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}
body {
  @apply bg-[color:var(--dark-blue)] text-[color:var(--color-primary-light-cyan)] h-full flex;
}
#root {
  @apply flex justify-center items-center justify-self-center m-auto;
}
main .advice-box {
  @apply bg-[color:var(--dark-grayish-blue)];
}
main .advice-box .advice-number-box p {
  @apply text-[color:var(--color-primary-neon-green)];
}

main .advice-box .next-advice-btn {
  @apply bg-[color:var(--color-primary-neon-green)] hover:bg-[color:var(--color-primary-neon-green-hover)];
}
main .advice-box .next-advice-btn svg {
  @apply bg-[color:var(--color-primary-neon-green)];
}
